In [1]:
# dependencies 
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser

In [2]:
# initialize pymongo to work with mongodbs
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)
# use mongo for flask part of assignment
# export jupyter notebook as .py

In [3]:
# define database and collection
# db = client.mars_db
# collection = db.articles

In [4]:
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
# url of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
news_title = soup.find('div', class_='list_text').find('div', class_='content_title').text
news_title

"NASA Engineers Checking InSight's Weather Sensors"

In [13]:
news_blurb = soup.find('div', class_='article_teaser_body').text
news_blurb

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

In [14]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [15]:
browser.find_by_id('full_image').click()

In [16]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [17]:
img_url = soup.find('div', class_='fancybox-inner').find('img', class_='fancybox-image')['src']

In [18]:
img_url = (f'https://www.jpl.nasa.gov{img_url}')

In [19]:
print(img_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17936_ip.jpg

In [24]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [25]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
table = soup.find('table', class_='tablepress')
table

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [39]:
table.find('td', class_='column-1').text

'Equatorial Diameter:'

In [51]:
table.find_all('tr')

[<tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr>,
 <tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr>,
 <tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr>,
 <tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr>,
 <tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr>,
 <tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr>,
 <tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr>,
 <tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr>,
 <tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr>]

In [40]:
table.find('td', class_='column-2').text

'6,792 km'

In [55]:
rows = table.find_all('tr')
data_column = []
value_column = []
for row in rows:
    data = row.find('td', class_='column-1').text
    value = row.find('td', class_='column-2').text
    data_column.append(data)
    value_column.append(value)

In [56]:
data_column

['Equatorial Diameter:',
 'Polar Diameter:',
 'Mass:',
 'Moons:',
 'Orbit Distance:',
 'Orbit Period:',
 'Surface Temperature: ',
 'First Record:',
 'Recorded By:']

In [57]:
value_column

['6,792 km',
 '6,752 km',
 '6.39 × 10^23 kg (0.11 Earths)',
 '2 (Phobos & Deimos)',
 '227,943,824 km (1.38 AU)',
 '687 days (1.9 years)',
 '-87 to -5 °C',
 '2nd millennium BC',
 'Egyptian astronomers']

In [59]:
import pandas as pd

In [75]:
mars_facts = pd.DataFrame(value_column, index = data_column, columns=['facts'])

In [76]:
mars_facts

                                               facts
Equatorial Diameter:                        6,792 km
Polar Diameter:                             6,752 km
Mass:                  6.39 × 10^23 kg (0.11 Earths)
Moons:                           2 (Phobos & Deimos)
Orbit Distance:             227,943,824 km (1.38 AU)
Orbit Period:                   687 days (1.9 years)
Surface Temperature:                    -87 to -5 °C
First Record:                      2nd millennium BC
Recorded By:                    Egyptian astronomers

In [84]:
marsfacts_table = mars_facts.to_html(bold_rows=True)